{% extends "document.html" %}

{% set teacher_mode = route in ("teacher", "answers") %}
{% if doc_settings.show_velps() %}
  {% set velp_mode = route in ("teacher", "answers", "velp") %}
{% else %}
  {% set velp_mode = route in ("velp") %}
{% endif %}
{% set lecture_mode = route == "lecture" %}
{% set slide_mode = route == "slide" %}

{% set par_edit_mode = edit_mode == "par" %}
{% set area_edit_mode = edit_mode == "area" %}

{% block title %}{{ item.title }}{% endblock %}

{# The custom style should be the last style element, so don't render it in base.html #}
{% block customcss %}{% endblock %}

{% block head %}
    {{ super() }}

    {% for cssFile in cssFiles %}
        <link rel="stylesheet" href="{{ cssFile }}">
    {% endfor %}

    {# without this, lazy loading embedded_sagecell won't work because it doesn't know URL root #}
    <link property="sagecell-root" href="https://sagecell.sagemath.org/"/>

    {% block viewhtml_customcss %}
        {% include 'partials/doc_customcss.html' %}
    {% endblock %}

    <script class="global-vars">
        var noBrowser = {{ no_browser|tojson }};
        var showIndex = {{(headers|length > 0)|tojson}};
        var reqs = {{reqs|tojson}};
        var startIndex = {{start_index|tojson}};
        var teacherMode = {{teacher_mode|tojson}};
        var velpMode = {{velp_mode|tojson}};
        var group = {{group|tojson}};
        var lectureMode = {{lecture_mode|tojson}};
        var in_lecture = {{in_lecture|tojson}};
        var users = [];
        {% if teacher_mode %}
            users = {{plugin_users|tojson}};
        {% endif %}
        var noQuestionAutoNumbering = {{ no_question_auto_numbering|tojson}};
        var liveUpdates = {{ live_updates|tojson}};
        var docVersion = {{ version|tojson }};
        var wordList = {{ word_list|tojson }};
        var readExpiry = {{ doc_settings.read_expiry()|tojson }};
        var memoMinutes = {{memo_minutes|tojson}};
        var docSettings = {{ doc_settings.get_dict().values|tojson }};  //TODO: show only for edit right
        var index = {{ headers|tojson }};
        var hideLinks = {{ hide_links|tojson }};
        var hideTopButtons = {{ hide_top_buttons|tojson }};
        var parsOnly = {{ pars_only|tojson }};
        var translations = {{ translations|tojson }};
        var current_view_range = {{ current_view_range|tojson }};
        var nav_ranges = {{ nav_ranges|tojson }};
    </script>
{% endblock %}

{% set col_1_lg = 2 %}
{% set col_2_lg = 7 %}
{% set col_3_lg = 3 %}

{% set col_1_md = 2 %}
{% set col_2_md = 8 %}
{% set col_3_md = 2 %}

{% set col_1_sm = 0 %}
{% set col_2_sm = 12 %}
{% set col_3_sm = 0 %}

{% block mainctrl %}tim-view{% endblock %}

{% block rightside %}
    {% if access.accessible_to %}
        <span class="label label-default">
        Time left:
        <timer ng-cloak
               end-time="{{ access.accessible_to.timestamp() * 1000 }}"
               interval="1000"
               max-time-unit="'day'"
               finish-callback="reload()">
               {% raw %}{{ days > 0 ? days + ' day' + daysS + ' +' : '' }} {{ hhours }}:{{ mminutes }}:{{ sseconds }}{% endraw %}
    </timer>
    </span>
    {% endif %}

    {% if teacher_mode %}
        <div  save="%%PAGEID%%studentList" class="userFixed" tim-draggable-fixed click="true"  caption="{{ plugin_users|length }} users with answers ">
            <tim-user-list class="draggable-content" on-user-change="$ctrl.changeUser($USER, $UPDATEALL)" users="$ctrl.users"></tim-user-list>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <form name="ignore_me">
        <input type="text" id="page_is_dirty" name="page_is_dirty" value="0" style="display: none;"/>
    </form>
    {% set dtm = doc_settings.get_doctexmacros() %}
    {% if dtm %}
    <p style="visibility: hidden;"><span class="math inline">\({{dtm}}\)</span></p>
    {% endif %}
    <div class="paragraphs" ng-click="$ctrl.notesHandler.setNotePadge($event)" >
        <view-range-navigation></view-range-navigation>
        <div ng-cloak="" class="dialog" caption="Refresh the page?" tim-draggable-fixed="" ng-show="$ctrl.showRefresh">
            <p>The page has been modified since the last reload. Refresh now?</p>
            <button class="timButton" ng-click="$ctrl.reload()">Refresh</button>
            <button class="timButton" ng-click="$ctrl.closeRefreshDlg()">No</button>
        </div>
        {% raw %}
        <div ng-cloak="" class="dialog" caption="Updates pending" tim-draggable-fixed="" ng-show="$ctrl.showUpdateDialog()">
            <p>There are {{ $ctrl.pendingUpdatesCount() }} pending paragraph updates.</p>
            <button class="timButton" ng-click="$ctrl.updatePending()">Update</button>
            <button class="timButton" ng-click="$ctrl.hidePending = true">Dismiss</button>
        </div>
        {% endraw %}
        {% if task_info and task_info.show %}
            <div class="taskSummary">
                <span> 
                <strong>Task Summary</strong> 
                Total points: {{ task_info.total_points }}
                    {%- if task_info.groups %}
                        ({%- for k, v in task_info.groups.items() -%}
                            {{ k }}: {{ v.total_sum }}{% if not loop.last %}, {% endif %}
                        {%- endfor -%})
                    {%- endif -%},
                total tasks: {{ task_info.tasks_done }} / {{ task_info.total_tasks }}
                </span>
                <span class="smallNote" ng-click="reload()">Refresh (F5) to recount</span>
            </div>
            <div class="taskSmallSummary"><p>{{ task_info.total_points }} p</p></div>
        {% endif %}
        {% if slide_mode %}
            <div class="paragraphs">
                <iframe id="slideFrame" src="/show_slide/{{ item.path }}" allowfullscreen></iframe>
                <a id="showSlidesLink" href="/show_slide/{{ item.path }}">Show slides only</a>
            </div>
        {% else %}
            <div id="pars">
                {% include 'partials/paragraphs.html' %}
                <div ng-cloak class="addBottomContainer hidden-print" ng-show="$ctrl.item.rights.editable"
                     ng-class="{'height-35': $ctrl.editing}">
                    {% set btntext = doc_settings.add_par_button_text() %}
                    {% if btntext and not nav_ranges %}
                        <button class="addBottom timButton">{{ btntext }}</button>
                    {% endif %}
                </div>

            </div>
            <velp-selection ng-if="$ctrl.showVelpSelection()">
            </velp-selection>
        {% endif %}
        <view-range-navigation></view-range-navigation>
    </div>
    <tim-template-list ng-if="$ctrl.item.rights.editable" ng-show="$ctrl.isEmptyDocument()" doc="$ctrl.item"></tim-template-list>
    <bootstrap-panel ng-if="$ctrl.item.rights.manage" ng-show="$ctrl.isEmptyDocument()"
                     title="Review document permissions"
                     show-close="true"
                     ng-cloak>
        <p>These are the current permissions for this document; please modify if needed.
            You can always modify these permissions from the manage page.</p>
        <tim-rights-editor
                item-id="$ctrl.docId">
        </tim-rights-editor>
    </bootstrap-panel>
{% endblock %}
