<div class="panel panel-default" ng-show="$ctrl.show !== false">
    <div class="panel-heading">
        {{ $ctrl.title }}
        <a><tim-close-button ng-show="$ctrl.showClose" ng-click="$ctrl.close()"></tim-close-button></a>
    </div>
    <div class="panel-body">
        <div ng-transclude></div>
    </div>
</div>
