<tim-dialog ng-if="!qctrl.isAskedQuestion()">
    <dialog-header></dialog-header>
    <dialog-body>
        <form name="qctrl.f">
            <div class="form-group form-horz-flex" tim-error-state>
                <label for="question{{$id}}">Question text</label>
                <textarea class="form-control" required name="question" id="question{{$id}}"
                          ng-model="qctrl.question.questionText"
                          ng-change="qctrl.changeQuestionTitle(qctrl.question.questionText)"></textarea>
                <tim-error-message></tim-error-message>
            </div>
            <div class="form-group form-horz-flex" tim-error-state>
                <label for="title{{$id}}">
                    Question title</label>
                <input class="form-control"
                       required name="title" id="title{{$id}}" type="text" ng-model="qctrl.question.questionTitle"
                       onfocus="this.select()"
                       ng-change="qctrl.titleIsChanged()"/>
                <tim-error-message></tim-error-message>
            </div>

            <div class="form-group form-horz-flex">
                <label for="qtype{{$id}}">Question type</label>
                <select class="form-control"
                        name="type" id="qtype{{$id}}" ng-model="qctrl.question.questionType" ng-dropdown required
                        ng-change="qctrl.createMatrix(qctrl.question.questionType)">
                    <option value="" ng-option disabled selected> -- select question type --</option>
                    <option ng-option value="radio-vertical">Multiple choice (radio button)</option>
                    <option ng-option value="checkbox-vertical">Multiple choice (checkbox)</option>
                    <option ng-option value="true-false">True/False</option>
                    <option ng-option value="matrix">Many rows and columns</option>
                    <option ng-option value="likert">5 choices likert scale</option>
                    <option ng-option value="textarea">One text area</option>
                </select>
            </div>
            <div class="form-group"
                 ng-if="qctrl.question.questionType == 'matrix' || qctrl.question.questionType == 'likert'">
                <label for="answerType{{$id}}">Answer type</label>
                <select id="answerType{{$id}}" required name="answerType"
                        class="form-control"
                        ng-model="qctrl.question.matrixType" ng-dropdown
                        ng-options="item.value as item.label for item in qctrl.answerFieldTypes ">
                    <option value="" disabled selected> -- select answer type --</option>
                </select>
            </div>
            <tim-question-matrix ng-if="qctrl.question.questionType"></tim-question-matrix>
            <div class="checkbox">
                <label><input type="checkbox" ng-model="qctrl.qst"/> Document question</label>
            </div>
            <div class="form-group form-horz-flex"
                 ng-if="qctrl.qst">
                <label for="answerLimit{{$id}}">Answer limit</label>
                <input ng-model="qctrl.pluginMarkup.answerLimit"
                       id="answerLimit{{$id}}"
                       class="form-control"
                       placeholder="Maximum number of allowed answer attempts"
                       type="number"
                       min="1"
                       step="1"/>
            </div>
            <div class="form-horz-flex" ng-if="!qctrl.qst">
                <label>
                    Duration
                </label>
                <tim-duration-picker amount="qctrl.ui.durationAmount"
                                     type="qctrl.ui.durationType"></tim-duration-picker>
            </div>
        </form>
        <bootstrap-panel title="Preview">
            <dynamic-answer-sheet questiondata="qctrl.previewParams"></dynamic-answer-sheet>
        </bootstrap-panel>
        <tim-alert ng-show="qctrl.customError">{{ qctrl.customError }}</tim-alert>
    </dialog-body>
    <dialog-footer>
        <span ng-if="(!qctrl.new_question)"> <button class="btn btn-danger"
                                                     ng-click="qctrl.deleteQuestion()">Delete</button> </span>
        <button class="timButton" ng-if="lctrl.lectureSettings.inLecture" ng-click="qctrl.createQuestion(true)"
                title="Ctrl-R">Save and ask
        </button>
        <button class="timButton" ng-click="qctrl.createQuestion()" title="Ctrl-S">Save</button>
        <button class="timButton" ng-click="qctrl.dismiss()">Cancel</button>
    </dialog-footer>
</tim-dialog>
<tim-dialog ng-if="qctrl.isAskedQuestion()">
    <dialog-header>Edit points and explanations</dialog-header>
    <dialog-body>
        <form>
            <!-- <h5 >{{ qctrl.question.questionText }}</h5> -->
            <h5 ng-bind-html="qctrl.question.questionText"></h5>
            <!--
            <h3>Question title: {{ qctrl.question.title }}</h3>
            <h3>Question title: {{ qctrl.question.questionText }}</h3>

            <p>Question type: {{ qctrl.question.questionType }}</p>

            <p ng-if="qctrl.question.questionType == 'matrix'">Answer type: {{ qctrl.question.matrixType }} </p>
            -->
            <div ng-if="qctrl.question.questionType">
                <tim-question-matrix></tim-question-matrix>
            </div>
            <tim-alert ng-show="qctrl.customError">{{ qctrl.customError }}</tim-alert>
        </form>
    </dialog-body>
    <dialog-footer>
        <button class="timButton" ng-click="qctrl.createQuestion()" title="Ctrl-S">Save</button>
        <button class="timButton" ng-click="qctrl.dismiss()">Cancel</button>
    </dialog-footer>
</tim-dialog>
