<div class="checkbox">
    <label>
        <input ng-model="$ctrl.showActiveOnly"
               ng-change="$ctrl.activeBoxChanged()"
               type="checkbox"/> Show only active or upcoming rights <tim-loading ng-if="$ctrl.activeBoxLoading"></tim-loading>
    </label>
</div>
<div ng-if="$ctrl.massMode && $ctrl.gridReady"
     ui-grid="$ctrl.gridOptions"
     ui-grid-selection
     ui-grid-auto-resize
     ui-grid-cellNav>
</div>
<div class="form" ng-if="$ctrl.allowSelectAction">
    <label>Action:</label>
    <div class="radio">
        <label>
            <input type="radio" ng-model="$ctrl.actionOption" ng-value="'add'">
            Add rights
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="$ctrl.actionOption" ng-value="'remove'">
            Remove rights
        </label>
    </div>
    <div class="radio" ng-if="!$ctrl.massMode">
        <label>
            <input type="radio" ng-model="$ctrl.actionOption" ng-value="'confirm'">
            Confirm rights
        </label>
    </div>
    <div class="radio" ng-if="!$ctrl.massMode">
        <label>
            <input type="radio" ng-model="$ctrl.actionOption" ng-value="'expire'">
            Expire rights
        </label>
    </div>
</div>
<div class="margin rights-list {{ type.name }}" ng-repeat="type in $ctrl.accessTypes" ng-if="!$ctrl.massMode">
    <a ng-click="$ctrl.showAddRightFn(type, $event)"
       href="#"
       title="Click to add {{ type.name }} right to some usergroup">{{ type.name }}</a>
    <span ng-if="filtered.length > 0"> ({{ filtered.length }})</span>:
    <span ng-if="filtered.length == 0">none</span>

    <ul>
        <li ng-class="{lastEdited: right === $ctrl.lastEdited}" ng-repeat="right in filtered = ($ctrl.grouprights | filter: {type: type.id}:true | filter: $ctrl.obsoleteFilterFn | orderBy: ['usergroup.personal_user.real_name', 'usergroup.name'])">
            <span class="flex align-center">
            <span class="name" ng-if="!$ctrl.isObsolete(right)" ng-bind="$ctrl.getGroupDesc(right)"></span>
            <s ng-if="$ctrl.isObsolete(right)" ng-bind="$ctrl.getGroupDesc(right)"></s>
            <a title="Send email to this user" ng-if="right.usergroup.personal_user" href="mailto:{{right.usergroup.personal_user.email}}"><i class="glyphicon glyphicon-envelope"></i></a>
            <span class="label label-success"
                  uib-tooltip="{{ right.accessible_from | timdate }}"
                  ng-if="$ctrl.shouldShowBeginTime(right)">Begins {{ right.accessible_from | timreldate }}</span>
            <span class="label label-info"
                  ng-if="$ctrl.shouldShowDuration(right)"
                  uib-tooltip="{{ right.duration | timpreciseduration }}">Duration: {{ right.duration | timduration }}</span>
            <span class="label label-warning"
                  uib-tooltip="{{ right.accessible_to | timdate }}"
                  ng-if="$ctrl.shouldShowEndTime(right)">Ends {{ right.accessible_to | timreldate }}</span>
            <span class="label label-danger"
                  uib-tooltip="{{ right.accessible_to | timdate }}"
                  ng-if="$ctrl.shouldShowEndedTime(right)">Ended {{ right.accessible_to | timreldate }}</span>
            <span class="label label-success"
                  uib-tooltip="{{ right.duration_from | timdate }}"
                  ng-if="$ctrl.shouldShowUnlockable(right)">Unlockable {{ right.duration_from | timreldate }}</span>
            <span class="label label-warning"
                  uib-tooltip="{{ right.duration_to | timdate }}"
                  ng-if="$ctrl.shouldShowNotUnlockable(right)">No longer unlockable {{ right.duration_to | timreldate }}</span>
            <span class="label label-danger"
                  uib-tooltip="{{ right.duration_to | timdate }}"
                  ng-if="$ctrl.shouldShowNotUnlockableAnymore(right)">No longer unlockable since {{ right.duration_to | timreldate }}</span>

            <span class="action-btn remove" ng-if="!$ctrl.hideRemove">
                <button class="btn btn-default btn-xs"
                        ng-click="$ctrl.removeConfirm(right)">remove</button>
                <tim-loading ng-if="$ctrl.removingRight === right && $ctrl.loading"></tim-loading>
                </span>
            <span class="action-btn edit" ng-if="$ctrl.selectedRight !== right && !$ctrl.hideEdit">
                <button class="btn btn-default btn-xs"
                        ng-click="$ctrl.editRight(right)">edit</button>
                </span>
            <span class="action-btn expire" ng-if="!$ctrl.hideExpire">
                <button class="btn btn-default btn-xs"
                        ng-click="$ctrl.expireRight(right)">expire</button>
                <tim-loading ng-if="$ctrl.expiringRight === right && $ctrl.loading"></tim-loading>
            </span>
            <span class="action-btn confirm" ng-if="right.require_confirm">
                <button class="btn btn-success btn-xs" ng-click="$ctrl.confirmRight(right)">confirm</button>
                <tim-loading ng-if="$ctrl.confirmingRight === right && $ctrl.loading"></tim-loading>
            </span>
            <span ng-if="$ctrl.selectedRight === right" class="label label-primary">Editing</span>
            </span>
        </li>
    </ul>
</div>
<!--<button class="btn btn-default" type="button"  ng-click="$ctrl.paste()">Paste</button>-->
<button class="timButton" ng-if="!$ctrl.addingRight && !$ctrl.editingRight()" ng-click="$ctrl.showAddRightFn($ctrl.accessType, $event)">{{$ctrl.actionText()}} right...
</button>
<div ng-show="$ctrl.addingRight || $ctrl.editingRight()" class="rights-edit-area">
    <form ng-submit="$ctrl.addOrEditPermission($ctrl.groupName, $ctrl.accessType)">
        <div class="row">
            <div class="form-group col-md-6 input-group-sm">
                <label for="{{ $ctrl.listMode ? 'groupNameList' : 'groupName' }}">Name: </label>
                <div class="input-group">
                    <input ng-show="!$ctrl.listMode" id="groupName" class="form-control" type="text"
                           ng-model="$ctrl.groupName"
                           ng-disabled="$ctrl.selectedRight"
                           ng-click="$ctrl.paste()"
                           focus-me="$ctrl.focusEditor"
                           ng-focus="$event.target.select()"
                           placeholder="{{ $ctrl.getPlaceholder() }}">
                    <textarea ng-show="$ctrl.listMode" id="groupNameList" class="form-control" type="text"
                              ng-model="$ctrl.groupName"
                              ng-disabled="$ctrl.selectedRight"
                              focus-me="$ctrl.focusEditor"
                              placeholder="{{ $ctrl.getPlaceholder() }}"></textarea>
                    <span class="input-group-addon btn btn-default"
                          ng-click="$ctrl.listMode = !$ctrl.listMode"
                          uib-tooltip="Toggle multiline mode"
                          data-tooltip-placement="right">
                        <i class="glyphicon glyphicon-align-left"></i>
                    </span>
                </div>
                <tim-loading ng-if="$ctrl.loading"></tim-loading>
                <tim-alert ng-if="$ctrl.successMsg" severity="success">
                    {{$ctrl.successMsg}}
                </tim-alert>
                <tim-alert ng-if="$ctrl.errMsg" severity="danger">
                    {{$ctrl.errMsg}}
                </tim-alert>
            </div>
            <div class="form-group col-md-6 input-group-sm selectRight">
                <label for="accessType">Right:</label>
                <select ng-disabled="$ctrl.selectedRight"
                        id="accessType"
                        class="form-control"
                        ng-model="$ctrl.accessType"
                        ng-options="access.name for access in $ctrl.accessTypes track by access.id"></select>
            </div>
        </div>
        <div class="row" ng-if="$ctrl.actionOption === 'add'">
            <div class="form-group col-md-6 input-group-sm">
                <fieldset>
                    <label>Time:</label>
                    <div class="radio">
                        <label>
                            <input ng-disabled="$ctrl.forceDuration" type="radio" ng-model="$ctrl.timeOpt.type" value="always">
                            Always
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input ng-disabled="$ctrl.forceDuration" type="radio" ng-model="$ctrl.timeOpt.type" value="range">
                            Set start and/or end date...
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.timeOpt.type" value="duration">
                            Set duration...
                        </label>
                    </div>
                    <div class="form-group" ng-show="$ctrl.timeOpt.type == 'range'">
                        <div class="col-md-12">
                            <div class="input-group date" datetimepicker ng-model="$ctrl.timeOpt.from"
                                 data-options="$ctrl.datePickerOptionsFrom">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Leave blank for no restriction"/>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                            </div>
                            to
                            <div class="input-group date" datetimepicker ng-model="$ctrl.timeOpt.to"
                                 data-options="$ctrl.datePickerOptionsTo">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Leave blank for no restriction"/>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                            </div>
                        </div>
                    </div>
                    <tim-duration-picker amount="$ctrl.durOpt.durationAmount"
                                         disabled="$ctrl.forceDuration"
                                         ng-show="$ctrl.durationSelected()"
                                         type="$ctrl.durOpt.durationType">
                    </tim-duration-picker>
                    <div class="form-group" ng-show="$ctrl.durationSelected()">
                        <div class="col-md-12">Duration unlockable from:
                            <div class="input-group date" datetimepicker ng-model="$ctrl.timeOpt.durationFrom"
                                 data-options="$ctrl.datePickerOptionsDurationFrom">
                                <input type="text"
                                       class="form-control"
                                       ng-disabled="$ctrl.forceDurationStart"
                                       placeholder="Leave blank for no restriction"/>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                            </div>
                            to
                            <div class="input-group date" datetimepicker ng-model="$ctrl.timeOpt.durationTo"
                                 data-options="$ctrl.datePickerOptionsDurationTo">
                                <input type="text"
                                       class="form-control"
                                       ng-disabled="$ctrl.forceDurationEnd"
                                       placeholder="Leave blank for no restriction"/>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <div ng-show="$ctrl.durationSelected() || $ctrl.rangeSelected()" class="checkbox">
                    <label><input ng-disabled="$ctrl.forceConfirm != null"
                                  type="checkbox"
                                  ng-model="$ctrl.requireConfirm">Require confirmation</label>
                </div>
            </div>
        </div>
        <button ng-show="$ctrl.addingRight" class="timButton" type="submit" ng-disabled="!$ctrl.groupName || $ctrl.addDisabled()">
            {{$ctrl.actionText()}}
        </button>
        <button ng-show="$ctrl.editingRight()" class="timButton" type="submit">Save</button>
        <button class="btn btn-default" type="button" ng-disabled="$ctrl.addDisabled()" ng-if="!$ctrl.massMode" ng-click="$ctrl.cancel()">Cancel</button>
        <span ng-show="$ctrl.addingRight && !$ctrl.groupName" class="addRightsButtons">
        <button class="timButton" type="button" ng-disabled="$ctrl.addDisabled()" ng-click="$ctrl.addOrEditPermission('Logged-in users', $ctrl.accessType)">
            {{$ctrl.actionText()}} logged-in users
        </button>
        <button class="timButton" type="button" ng-disabled="$ctrl.addDisabled()" ng-click="$ctrl.addOrEditPermission('Anonymous users', $ctrl.accessType)">
            {{$ctrl.actionText()}} anonymous users
        </button>
            <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px">
                <select class="form-control"
                        ng-model="$ctrl.selectedOrg"
                        ng-options="g as g.name for g in $ctrl.orgs">
                <option value="" disabled>Add organization...</option>
            </select>
            <button class="timButton"
                    type="button"
                    ng-disabled="$ctrl.addDisabled() || !$ctrl.selectedOrg"
                    ng-click="$ctrl.addOrEditPermission($ctrl.selectedOrg.name, $ctrl.accessType)">
                {{$ctrl.actionText()}} {{ $ctrl.selectedOrg.name }}
            </button></div>
        </span>
    </form>
</div>
