.timTableTable {
  margin-top: 1.5em; /* to leave space for editor buttons */
}

.buttonsCol, .buttonsRow {
  position: absolute;
  display: flex;
  button {
    font-size: xx-small;
    padding: 5px;
  }
}

.buttonsCol {
  right: -1.4em;
  top: -1.7em;
}

.buttonsRow {
  bottom: -1.2em;
  left: -1.6em;
  flex-direction: column;
}

.editable {
  box-shadow: 0 0 4px 2px blue;
}

.activeCell {
  // Don't use border style here - it takes up size in layout and so it makes the table move a little.
  outline: 2.5px dotted #33cccc;
  outline-offset: -1.25px;
}

.timTableContentDiv {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

td input[type="text"] {
  width: 100%;
}

.inlineEditorButtons {
  width: -moz-max-content;
}

.timTableRunDiv {
  overflow: auto;
  border: none;
  padding-right: 4em;
  padding-left: 2em;
  margin: auto;
}
